# Object files and compiled stuff
*.o
*.so

# CodeLite-specific project information
*.project
*.workspace
.codelite
tools/hw_detect/cpuinfo
gui/bin/BenchIT.jar
# Eclipse buildpath
gui/bin/*.class
gui/bin/admin
gui/bin/com
gui/bin/conn
gui/bin/gui
gui/bin/org
gui/bin/plot
gui/bin/reportgen
gui/bin/system
# Ant buildpath
gui/build
